@import './src/globals';

$search-size: 180px;
// $search-size: calc(100% - 48px);

.md-text-field-icon-container {
  align-items: center;
  > .md-icon {
    margin: 0;
  }
}

.search {
  cursor: pointer;

  &.md-grid {
    flex-wrap: nowrap;
  }

  &__input {
    max-width: 0;
    min-width: 34px;
    transition-duration: $md-transition-time * 2;
    transition-property: max-width, min-width;

    &--active {
      min-width: $search-size;
    }

    &--visible {
      max-width: $search-size;
    }
  }

  .md-divider--text-field,
  .md-divider--text-field.md-divider--text-field::after {
    background: $md-white-base;
  }

  .md-icon.md-icon {
    color: get-color('secondary', false);

    &.md-text-field-icon--active {
      color: $md-white-base;
    }
  }
}

.custom-theme .search .md-divider--text-field:not(.md-divider--text-field-error)::after {
  background: $md-white-base;
}

@media (max-width: #{$md-tablet-min-width - 1}) {
  .main-toolbar__title {
    max-width: calc(100% - #{$md-btn-icon-size * 2 + $md-default-padding});
    overflow: hidden;
    transition-duration: $md-transition-time;
    transition-property: margin-left, max-width;

    &--minified.md-title--toolbar {
      margin-left: 0;
      max-width: 0;
    }
  }
}
