@import '~react-md/src/scss/react-md';

$md-light-theme: false;
$md-primary-color: $md-orange-500;
$md-secondary-color: $md-deep-orange-a-200;

// @media screen and (min-width: 320px) {
//   .md-text-field-icon--positioned {
//       // margin-bottom: 13.5px;
//       display: flex;
//   }
// }